.banner {
    background-image: url('../images/Banner\ Image.png');
    background-image: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border-radius: 16px;
    width: 90%;
    height: 600px;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 140px;
}

.banner-Greeting {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 227px;
}

.banner-title {
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.header {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 48px;
}

.para {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.hfive {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

.image {
    margin-left: 398px;
    margin-right: 398px;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.bannertwo-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    text-align: center;
}

.bannertwo {
    background-image: url('../images/Vectorrr.png');
    background-image: cover;
    background-repeat: no-repeat;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
   
    width: 90%;
    height: 600px;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 140px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
   
   
}

.headertwo {
    width: 642px;
    padding-top: 126px;
   
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
 
}

.container {
    position: relative;
    text-align: center;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}
.bannertwo-text{
    text-align: center;
}
.bannertwo-img{
    text-align: center;
}
.button{
    width: 125px;
    height: 40px;
    border-radius: 8px;
    background-color:blue;
    color: #FFF;
}
.join-now{
    background-color: bisque;
    width: 90%;
    height: 400px;
    border-radius: 16px;
    margin: 125px auto;
    align-content: center;
    text-align: center;
    
}
.span{
    color: red;
    font-weight: bold;
}
.offers{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 125px auto;
}
.offer{
    color: #F00;
    font-weight: 600;
}
.offer-title{
    font-weight: bold;
}
.coming-soon{
    width: 25%;
}
.coming-soon-text{
    text-wrap: wrap;
}
.offer-img{
    border:#F00 solid 10px ;
    width: 250px;
    height: 250px;
    border-radius: calc(100%);

    
}
.offers img {
    margin: 13px;
    width: 225px;
    height: 225px;
    align-items: center;
}
.new-year{
   color: #F00;
   font-weight: bold;
   
}
footer {
    width: 100%;
    max-width: 1920px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
}

.footer-coloum {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}